footer
	margin-top: 1rem
	.footer-top
		color: #fff
		background: $footer
		padding: 3rem 0 
		.title
			>div
				padding: 0
			p
				padding-top: .2rem
				margin: 0rem
		.title-hidden
			display: none
		h5
			color: #083e64
			padding: .3rem 0
		img 
			max-width: 200px
		.row
			div
				padding: 1rem 4rem
		ul
			li
				padding-top: .2rem
				a
					color: #fff
					i
						color: lighten($tquoise,40%)
						padding-right: .5rem
	.bottom-footer
		background: darken($belize-hole, 20%)
		padding: 2rem
		p
			text-align: center
			margin: 0
			font-size: 1rem
			line-height: 2rem
		.icon-footer
			text-align: center
			a
				
				margin: 0rem .3rem
				width: 2rem
				height: 2rem
				background: darken($info, 20%)
				border-radius: 50%
				display: inline-block
				text-align: center
				i
					line-height: 2rem
					text-align: center
					color: #fff
					+fz(10px)

	+media-breakpoint-up(sm)
		.footer-top
			.title-hidden
				display: block
		.icon-footer
			display: flex
			justify-content: flex-end

