footer
	margin-top: 1rem
	background: $footer
	.footer-top
		color: #fff
		padding: 3rem 0 
		.title
			p
				padding-top: .2rem
				margin: 0rem
				max-width: 75%
		h5
			color: #083e64
			padding: .5rem 0 0 0rem
		.list-link
			ul
				margin: 0
				li
					padding-top: .2rem
					a
						color: #fff
						i
							color: lighten($tquoise,40%)
							padding-right: .5rem
	.bottom-footer
		background: darken($belize-hole, 20%)
		padding: 1.5rem 0
		p
			margin: 0
			color: #fff
			font-size: 1rem
			line-height: 2rem
			a
				color: #fff
		.icon-footer
			display: flex
			justify-content: flex-end
			a
				margin: 0rem .3rem
				width: 2rem
				height: 2rem
				background: darken($whites, 20%)
				transition: .3s all ease-in-out
				border-radius: 50%
				display: inline-block
				text-align: center
				i
					line-height: 2rem
					text-align: center
					color: $belize-hole
					+fz(10px)
				&:hover
					background: $whites

	+media-breakpoint-down(sm)
		.footer-top
			max-width: 70%
			.title-hidden
				display: none
			.list-link
				h5
					margin-top: 1rem
		.bottom-footer
			.text
				text-align: center
			.icon-footer
				justify-content: center

