<!-- ////////////// FOOTER ////////////// -->
footer.border-top
	.container.footer-top
		.row
			.col-ms-6.col-md-5.title
				h5 FULLSTACK VIETNAM
				p Mobile: (+84) 969689893
				p Email: admin@fullstackvietnam.com
				p Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
				
			.col-sm-6.col-md.list-link
				h5 LINKS
				ul.list-unstyled.text-small
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Khóa học FrontEnd Master
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Khóa học FullStack Developer
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Khóa học Design chuyên nghiệp
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Lịch khai giảng
					li

						a(href="#")
							i.fa.fa-arrow-right
							| Đăng ký Khóa học

			.col-sm-6.col-md.list-link
				h5.title-hidden
					br
				ul.list-unstyled.text-small
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Khóa học FrontEnd Master
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Khóa học FullStack Developer
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Khóa học Design chuyên nghiệp
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Lịch khai giảng
					li
						a(href="#")
							i.fa.fa-arrow-right
							| Đăng ký Khóa học
	.bottom-footer
		.container
			.row
				.col-sm-6.text
					p Copyright 2018 by
						a(href='#')  FullStack Vietnam.
				.col-sm-6.icon-footer
					a(href="").icon-footer
						i.fa.fa-facebook
					a(href="").icon-footer
						i.fa.fa-twitter 

